
* {
    box-sizing: border-box;
}
.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #f0f0f0
}
.header {
    height: 110px;
    padding:0 10%;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: #4e5766
}
.header >h2{
    color: white;
    font-size: 40px;
    float: left;
}
.button-header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    float: right;
    height: 100%;
    align-items: center;
}
.button-header .button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;

}
.button-header .icon {
    display: none;
}
.button-header .button:hover {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: blue;
}
.button-header .button:hover i {
    color: red
}

.button-header .button >h4 {
    text-align: center;
    color: #fff
}

.login-mesg {
    display: flex;
    float: right;
    flex-direction: row;
    height: 50%;
    background-color: #1e84b3;
    margin:0 20px;
}
.login-mesg .mesg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    border-right-style: solid;
    border-right-color: #19678b;
    border-right-width: 1px;
    padding: 0 20px;
}

.login-mesg .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    padding: 0 10px;
}

.login-mesg .login>h4 {
    color: #fff;

}
.welcome-view {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-view>a {
    color: #fff;
}

.welcome-view #welcome-title {
    font-size: 40px;
    text-align: center
}

.welcome-view #welcome-slogan {
    font-size: 27px;
    text-align: center
}

.welcome-view >form {
    display:flex;
    flex-direction: row;
    margin-top: 40px;
    width: 40%;
}

.welcome-view>form #search-input {
    height: 40px;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: #313b4a;
    padding: 35px 15px;
    border: 0.1px solid #4e5766;
}
.welcome-view>form #search-input:focus {
    outline-color: #5d6673;
    outline-width: 0.1px
}
.welcome-view>form #search-input::placeholder {
    font-size: 1em;
    color: #fff;
}

.welcome-view>form #search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    background-color: #1e84b3
}
.welcome-view>form #search-button:hover {
    background-color: #146f99
}
.welcome-view>form #search-button:active {
    background-color: red
}
.detail-forum {
    position: relative;
    background-color: #fff;
    width: 80%;
    top: -60px;;
}
.detail-forum .register {
    display: grid;
    grid-template-columns: 50% 50%;
}
.detail-forum .register .register-description {
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    background-color: #1e84b3;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 350px;
    
}
.detail-forum .register .register-description >span  {
    color: #fff;
    font-size: 2.5em;
}
.detail-forum .register .register-description >p {
    color: #2f4f66;
    font-size: 1.4em;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.detail-forum .register .register-description .register-button {
    background-color: #364152;
    padding: 20px;
}
.detail-forum .register .register-description .register-button >span{
    color: #fff;
    font-weight: 600
}
.detail-forum .register .register-img {
    height: 350px;
    background-color: burlywood;
    background-image: url("./asset/images.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.statistics {
    padding: 5% 5%;
    box-shadow:0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 40px 30px 10px rgba(0, 0, 0, 0.1)
}
.statistics .types {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
}
.statistics .types .type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border: 1px solid #eae8e8;
    box-shadow: 1px 1px 1px  1px #eae8e8;
    padding: 0 20px;
}

.statistics .types .type .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.statistics .types .type .posts{
    background-color: #364152
}
.statistics .types .type .topics{
    background-color: #1e84b3
}
.statistics .types .type .replies{
    background-color: #ff5c5f
}
.statistics .types .type .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.statistics .types .type .detail .title {
    font-size: 1.3em;
    font-weight: 600;
    color: #b1b6bd;
}
.statistics .types .type .detail .number {
    font-size: 1.4em;
    font-weight: 700;
    color: #5d6773;
}
.statistics .forum {
    padding: 70px 0;
}
.statistics .forum >table, th, td{
    border: 1px solid #eae8e8;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    background-color: #f0f0f0    
}

.statistics .forum .image-threads{
    width: 60px;
    height: 60px;

}
.statistics .forum .newfeed{
    margin-right: 10px
}
.statistics .forum .time{
    margin-left: 10px
}

.slide {
    padding-top: 70px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #eae8e8
}
.slide .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}

.slide .title >span{
    font-size: 2em;
    font-weight: 700;
    color: #364152;
}
.slide .title .control-view {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #364253;

}
.slide .title .control-view .view-all {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-right-style: solid;
    border-right-width: 1.5px;
    border-right-color: #252525
}
.slide .title .control-view .view-all >a {
    color: #fff
}
.slide .slide-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1.3%

}
.slide .slide-container .slide-content{
    display: flex;
    flex-direction: column;
    border: 1px solid #eae8e8;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slide .slide-container .slide-content .slide-image{
    border-bottom: 1px solid #eae8e8;
    height: 250px;
    /* width: 220px; */
}
.slide .slide-container .slide-content .slide-image >img{
    height: 100%;
    width: 100%;
}

.slide .slide-container .slide-content .slide-title{
    border-bottom: 1px solid #eae8e8;
    padding: 30px 20px;
}
.slide .slide-container .slide-content .slide-title .title{
    font-size: 1.3em;
    font-weight: 600;
}
.slide .slide-container .slide-content .slide-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px
}

.slide .slide-container .slide-content .slide-author .author{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}
.slide .slide-container .slide-content .slide-author .author >p{

}
.slide .slide-container .slide-content .slide-author .author >img{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin-right: 5px
}
.slide .slide-container .slide-content .slide-author .comment{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.advertisment {
    display: flex;
    height: 21.5vw;
    width: 80%;
}
.advertisment >img{
    height: 100%;
    width: 100%
}
.advertisment .button-shop{
    position: absolute;
    padding: 1% 2%;
    background-color: rgba(54, 64, 83, 0.9);
    margin-left: 10%;
    margin-top: 12.3vw;
    z-index: 99;
}
.advertisment .button-shop p{
    color: #fff;
    font-size: 2vw;
    margin: 0
}
footer{
    margin-top: 70px;
    width: 100%;
    background-color: #364152;
}
.footer {
    padding:80px 10%; 
    display: grid;
    grid-template-columns: 30% 23% 23% 23% ;
}
.footer .footer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .footer-item .title{
    padding: 0 0 20px 0;
}
.footer .footer-item .title >span{
    color: #fff;
    font-size: 1.7em;
    font-weight: 500
}
.footer .footer-item .item{
    padding: 10px 0;
    /* border-bottom: 0.4px solid #eae8e8; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 35.1px 1px -35px #eae8e8;
    border-bottom: 0;
}
.footer .footer-item .item:last-child{
    box-shadow: 0px 35.1px 1px -100px #eae8e8;
}
.footer .footer-item .item >p{
    margin: 0;
}
.footer .footer-item .item .thread{
    padding: 0 0 10px 0;
    font-size: 1.2em;
    color: #bdc3c7;
}
.footer .footer-item .item .thread:hover{
    color: #fff;
}
.footer .footer-item .item .time{
    padding: 0 0 10px;
    font-size: 0.9em;
    color: #bdc3c7;
}

.footer .footer-item .blog-categories >h2{
    color: #fff;
 }
.footer .footer-item .blog-categories .categories{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   overflow-wrap: normal;
}

.footer .footer-item .blog-categories .categories .category{
   border: 1px solid #3e4959;
   display: inline-flex;
   margin: 5px 5px 0 0;
}
.footer .footer-item .blog-categories .categories .category >p{
   color: #bdc3c7;
    padding: 5px 5px;
   margin: 5px 0;
}
.footer .footer-item .blog-categories .categories .category >p:first-child{
  border-right: 1px solid #3e4959
}
.footer .footer-item >form #search-input {
    /* height: 40px; */
    width: 100%;
    background-color: #313b4a;
    font-size: 18px;
    color: #fff;
    padding: 15px 10px;
    border: 0.1px solid #4e5766;
}
.footer .footer-item >form #search-input::placeholder {
    color: #b8bdc2 ;
}
.footer .footer-item >form #search-button {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    background-color: #1e84b3;

}
.footer .footer-item .newsletter {
    display: flex;
    flex-direction: column;
    border: 1px solid #3e4959;
    padding: 25px 25px 25px 25px; 
}
.footer .footer-item .newsletter >i{
    color: #1e84b3;
    position: absolute;
    font-size: 30px;
    margin-top: -37px;
    right: calc(10% + 35px);
}
.footer .footer-item .newsletter >form #search-input {
    width:100%;
    background-color: #313b4a;
    font-size: 18px;
    color: #fff;
    padding: 15px 10px;
    border: 0.1px solid #4e5766;
}
.footer .footer-item .newsletter >form #search-input::placeholder {
    color: #b8bdc2
}
.footer .footer-item .newsletter >form #search-button {
    display: flex;
    width: max-content;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    background-color: #1e84b3;

}
footer .contact-info {
    display: flex;
    flex-direction: row;
    border-top: 0.5px solid #4e5766;
    justify-content: space-between;
    align-items: center;
    padding:20px 10%;
}
footer .contact-info >p {
    color: #bdc3c7;
    font-size: 1.3em
}
footer .contact-info .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
footer .contact-info .contact .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4e5766;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 5px;
}
footer .contact-info .contact .item:last-child {
    background-color: #1e84b3;
}
footer .contact-info .contact .item:last-child >i {
    font-size: 15px;
    color: #fff
}
footer .contact-info .contact .item >i{
   font-size: 18px;
   color: #bdc3c7
}

@media screen and (max-width: 1200px){
    .header {
        display: block;
        border-bottom: 0;
    }
    .header >h2 {
        float: unset;
        text-align: center;
    }
    .button-header {
        width: 100%;
        border-bottom-style: solid;
        border-bottom-width: 0.5px;
        border-bottom-color: #4e5766
    }
    .detail-forum .register {
        display: block;
    }
    .detail-forum .register .register-description {
        width: 100%;
    }
    .detail-forum .register .register-img{
        display: none;
    }
    .statistics .types {
        grid-template-rows: auto auto auto;
        grid-row-gap: 20px;
        grid-template-columns: unset;
    }
    .footer {
        height: auto;
        padding:80px 10%; 
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: auto;
        grid-row-gap: 20px
    }
    .footer .footer-item .blog-categories {
        margin: 20px 0;
    }
    .slide .slide-container .slide-content:last-child{
        display: none;
    }
    .slide .slide-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 3%
    
    }
}

@media screen and (max-width: 990px){
    .header {
        height: 130px;
        display: block;
        border-bottom: 0;
    }
    .header >h2 {
        float: unset;
        text-align: center;
    }
    .button-header {
        width: 100%;
        display: block;
        justify-content: space-between;
        float: right;
        height: 100%;
        align-items: center;
        margin: 0;
        border-bottom-style: solid;
        border-bottom-width: 0.5px;
        border-bottom-color: #4e5766
    }
    
    .button-header .button {
        display: none;
        justify-content: unset;
        height: unset;
    }
    .button-header .button:hover {
        border-top: unset;
    }
    .button-header .icon {
        width: 100%;
        border: 1px solid  #4e5766;
        font-size: 30px;
        float: left;
        display: flex;
    }
    .button-header .icon >i {
        font-size: 40px;
        color: #fff
    }
    .login-mesg{
        margin: 8px 0;
    }
    .welcome-view >form {
        width: 80%;
    }
    .detail-forum .register {
        display: block;
    }
    .detail-forum .register .register-description {
        width: 100%;
    }
    .detail-forum .register .register-img{
        display: none;
    }
    .statistics .types {
        grid-template-rows: auto auto auto;
        grid-row-gap: 20px;
        grid-template-columns: unset;
    }
    .footer {
        height: auto;
        padding:80px 10%; 
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: auto;
        grid-row-gap: 20px
    }
    .footer .footer-item .blog-categories {
        margin: 20px 0;
    }
    .slide .slide-container .slide-content:nth-last-child(2),.slide-content:last-child{
        display: none;
    }
    .slide .slide-container {
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%
    
    }
}
@media screen and (max-width: 800px){
    .statistics .forum .image-threads{
        display: none;
    }
    tr td:last-child,tr td:nth-last-child(2) {
        display: none;
    }
    tr th:last-child,tr th:nth-last-child(2) {
        display: none;   
    }
    footer .contact-info {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    
    .slide .slide-container .slide-content:nth-last-child(3),.slide-content:nth-last-child(2),.slide-content:last-child{
        display: none;
    }
    .slide .slide-container {
        display: grid;
        grid-template-columns: 100%;
    
    }
    footer .contact-info .contact .item {
        height: 40px;
        width: 40px;
    }
    
}
@media screen and (max-width: 360px){
    

    
}